<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -
<hinv-app-nav></hinv-app-nav>
 <router-outlet></router-outlet>
<!-- <h1>hello world</h1> -->
<!-- <hinv-rooms></hinv-rooms> -->
<!-- <hinv-employee></hinv-employee> -->
 <!-- <hinv-container>
    <hinv-rooms> </hinv-rooms>
    <hinv-employee></hinv-employee>
    <h1>this is from ng-content </h1>
</hinv-container> -->
<!-- <div #name></div> -->
<!-- <hinv-employee></hinv-employee> -->
<!-- <hinv-employee></hinv-employee> -->
<!-- <hinv-employee></hinv-employee> -->
<!--div [ngSwitch]="role">
    <div *ngSwitchCase="'user'">welcome user
    </div>
    <div *ngSwitchCase="'admin'">welcome admin
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchDefault>you are not authorized to view this page</div>
</div>-->
<!-- <div>
    <ng-template #user></ng-template>
</div>-->
